{% extends 'base.html.twig' %}

{% block title %}New Admins{% endblock %}

{% block body %}
    <h1>Create new Admins</h1>

    {{ include('admins/_form.html.twig') }}

    <a href="{{ path('app_admins_index') }}">back to list</a>
{% endblock %}
