{% extends 'base.html.twig' %}

{% block title %}Edit OrdersDetail{% endblock %}

{% block body %}
    <h1>Edit OrdersDetail</h1>

    {{ include('orders_detail/_form.html.twig', {'button_label': 'Sửa'}) }}


{% endblock %}
