{% extends 'base.html.twig' %}

{% block title %}Edit Customers{% endblock %}

{% block body %}
    <h1>Sửa thông tin khách hàng</h1>

    {{ include('customers/_form.html.twig', {'button_label': 'Sửa'}) }}


{% endblock %}
