{% extends 'base.html.twig' %}

{% block title %}Edit Categories{% endblock %}

{% block body %}
    <h1>Sửa danh mục</h1>

    {{ include('categories/_form.html.twig', {'button_label': 'Sửa'}) }}


{% endblock %}
