{% extends "client/base.html.twig" %}
{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/main_styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/core-style.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset('css/responsive.css')}}">
{% endblock %}
{% block body %}
<div class="container-fluid  mt-100">
	<h3>Bạn đã order thành công ( chưa tìm ra template)</h3>

</div>
{% endblock %}
