{% extends 'base.html.twig' %}

{% block title %}ProductsParameter{% endblock %}

{% block body %}
    <h1>ProductsParameter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ products_parameter.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_products_parameter_index') }}">back to list</a>

    <a href="{{ path('app_products_parameter_edit', {'id': products_parameter.id}) }}">edit</a>

    {{ include('products_parameter/_delete_form.html.twig') }}
{% endblock %}
