{% extends 'base.html.twig' %}

{% block title %}Edit Orders{% endblock %}

{% block body %}
    <h1>Edit Orders</h1>

    {{ include('orders/_form.html.twig', {'button_label': 'Sửa'}) }}


{% endblock %}
